/*Large Background Image*/
html {
  background: url(../img/pexels-pixabay-4158.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* This is a fallback for the translucent background for older browsers */
  background: #222;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 10px;
  width: 400px;
  height: 400px;
}

.main-paragraph {
  width: 75%;
}

.content p span {
  font-family: 'Lora', sans-serif;
  font-size: 1.5rem;
}